# ignore all by default
/*


# exceptions
!/license.txt
!/build-pkg/
!/DEBIAN/

#!/etc/cron.d/zevenet
!/etc/profile
!/etc/motd.tail

!/usr
/usr/*
!/usr/local
/usr/local/*
!/usr/local/zevenet/
/usr/local/zevenet/node_status

/usr/local/zevenet/app/nftlb/
/usr/local/zevenet/app/zhttp/
/usr/local/zevenet/app/zproxy/
/usr/local/zevenet/app/cherokee/
/usr/local/zevenet/app/gdnsd/
/usr/local/zevenet/app/pound/
/usr/local/zevenet/app/ssyncd/
/usr/local/zevenet/app/libexec/*
!/usr/local/zevenet/app/libexec/check_uplink

# tmp files
/usr/local/zevenet/app/checkupgrades/share/package_upgradables.txt
/usr/local/zevenet/app/checkupgrades/share/message.txt

# rrd
/usr/local/zevenet/app/zenrrd/rrd/*
!/usr/local/zevenet/app/zenrrd/rrd/.keep

# backups
/usr/local/zevenet/backups/*
!/usr/local/zevenet/backups/.keep

# config
/usr/local/zevenet/config/*
!/usr/local/zevenet/config/.keep
!/usr/local/zevenet/config/certificates/.keep


/usr/local/zevenet/logs

/usr/local/zevenet/share/waf/

/usr/local/zevenet/www/
!/usr/local/zevenet/www/zapi/*

!/usr/share
/usr/share/*
!/usr/share/perl5
/usr/share/perl5/*
!/usr/share/perl5/Zevenet
!/usr/share/perl5/Zevenet/API3
!/usr/share/perl5/Zevenet.pm

# other
.rnd
.htpasswd
*.pme

# hardware appliances
usr/local/zevenet/app/display/
usr/local/zevenet/app/zbin/renamenet.pl
usr/local/zevenet/app/zbin/zlbchecknetpersistent.pl
usr/local/zevenet/app/zbin/zlbgennet.sh
usr/local/zevenet/app/zendisplayinfo/
usr/local/zevenet/app/zennetname/

build-pkg/CE_WORKDIR/
build-pkg/EE_WORKDIR/

