Package: zenloadbalancer
Version: 3.04
Maintainer: ZenLB Team <zenloadbalancer-support@lists.sourceforge.net>
Architecture: i386
Section: admin
Priority: optional
Description: Zen Load Balancer v3.04
 Zen Load Balancer 
Depends: rrdtool, libnet-netmask-perl, libnet-ssh-perl, libexpect-perl, expect, libnet-ssh-expect-perl, libproc-daemon-perl, libnetwork-ipv4addr-perl, librrds-perl, libio-interface-perl, libgd-3dbargrapher-perl, libfile-grep-perl, libdata-validate-ip-perl, rsync, libpcap0.8, ntpdate, liblinux-inotify2-perl, libfile-grep-perl, iputils-arping, openssl, netstat-nat

