Package: zenloadbalancer
Version: 3.7
Maintainer: ZenLB Team <zenloadbalancer-support@lists.sourceforge.net>
Architecture: i386
Section: admin
Priority: optional
Description: Multilayered load balancer with web GUI 
 Zen Load Balancer is a multilayered and high performance load balancer whith an easy configuration, usability and user-friendly web GUI.
Depends: rrdtool, libnet-netmask-perl, libnet-ssh-perl, libexpect-perl, expect, libnet-ssh-expect-perl, libproc-daemon-perl, libnetwork-ipv4addr-perl, librrds-perl, libio-interface-perl, libgd-3dbargrapher-perl, libfile-grep-perl, libdata-validate-ip-perl, rsync, libpcap0.8, ntpdate, liblinux-inotify2-perl, libfile-grep-perl, iputils-arping, openssl, netstat-nat, unzip, libev4, liburcu2, liburcu-dev, snmpd, conntrack

